Repository AlexWayfer/flame-menu: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, bundle-audit, rubocop, rspec

remark:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
  install_script: npm install
  lint_script: npm run remark

bundle-audit:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby
  bundle-audit_script: bundle audit check --update

rubocop:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby:latest
  lint_script: bundle exec rubocop

rspec:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    matrix:
      image: ruby:3.4
  env:
  ...

Resolve new RuboCop offense about gem sorting
  Gemfile
Due: bundle-audit, rubocop, rspec

Replace Codecov and Code Climate badges with Coveralls badge
  README.md
Due: remark

Regenerate Coveralls token again
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Switch to Coveralls code coverage
  .cirrus.yaml
  Gemfile
  spec/spec_helper.rb
Due: remark, bundle-audit, rubocop, rspec

Regenerate Coveralls token
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Update Renovate configuration file
  renovate.json
Due: none

Fail `remark` on any warning
  package.json
Due: remark

Change option for `remark-lint-list-item-indent` after major update
  .remarkrc.yaml
Due: remark

Update `gem_toys` and `toys` dependencies
  Gemfile
Due: bundle-audit, rubocop, rspec

Update runtime Flame dependency
  flame-menu.gemspec
Due: bundle-audit, rubocop, rspec

Remove `bundler` as development dependency
  Gemfile
Due: bundle-audit, rubocop, rspec

Resolve new `bundle update` deprecation warning in CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Improve updating system gems in CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Drop Ruby 3.0 and 3.1 support
  .cirrus.yaml
  .rubocop.yml
  flame-menu.gemspec
Due: remark, bundle-audit, rubocop, rspec

Update RuboCop and its plugins
  Gemfile
Due: bundle-audit, rubocop, rspec

Disable RuboCop's `RSpec/Output` locally
  spec/flame/menu_spec.rb
Due: rubocop, rspec

Add Ruby 4.0 support
  .cirrus.yaml
  flame-menu.gemspec
Due: remark, bundle-audit, rubocop, rspec

Path conditions:
  remark: any of: .cirrus.yaml, .gitignore, package.json, .remarkrc.yaml, **.md
  bundle-audit: any of: .cirrus.yaml, .gitignore, Gemfile, *.gemspec
  rubocop: any of: .cirrus.yaml, .gitignore, Gemfile, .rubocop.yml, *.gemspec, **.rb, **.ru
  rspec: any of: .cirrus.yaml, .gitignore, Gemfile, .rspec, *.gemspec, lib/**, spec/**
